<p align=center>RejectMail.com</p>

<p align="center">
	<%= form_tag(:action => 'view') %>
	<%= text_field "email", "name", "size" => 20 %>@RejectMail.com
	<br>
	<%= submit_tag("View Email") %>
	<%= end_form_tag %>
</p>

